body {
    margin: 0;
    padding: 0;
    background-color: #041F48;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    max-width: 320px;
    margin-top: 40px;
    border-radius: 25px;
    padding: 20px;
    width: 100%;
    min-height: auto;
}

.content {
    margin: 20px;
    min-height: auto;
}

.title {
    color: #000;
    text-align: center;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 30px;
}


.dwnld-buttons {
    margin: 3px;
    padding: 3px;
    padding-left: 15px;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #1E1E1E;
    border-color: #041F48;
    min-width:220px;
    height: 25px;
    font-size: 12px;
    text-align: start;
}

.dwnld-buttons:hover {
    background-color: #041F48;
    color: #FFFFFF;
    border: #1E1E1E;
}

.slct-buttons {
    margin-top: 5px;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    color: #1E1E1E;
    border-color: #041F48;
    min-width: 250px;
}

.slct-buttons:hover {
    background-color: #041F48;
    color: #FFFFFF;
    border: #1E1E1E;
}

.third-buttons {
    margin: 3px;
    padding: 3px;
    padding-left: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    color: #1E1E1E;
    border-color: #041F48;
    min-width:180px;
    height: 25px;
    font-size: 10px;
    text-align: start;
}

.third-buttons:hover {
    background-color: #041F48;
    color: #FFFFFF;
    border: #1E1E1E;
}




@media (min-width: 601px) {
    .container {
        min-width: 450px;
        margin-top: 80px;
    }

    .slct-buttons {
        min-width: 380px;
    }

    .dwnld-buttons {
        min-width:330px;
    }

    .third-buttons {
        width: 220px;
    }
}



.arrowbutton {
    background-color: transparent; /* Set the background to transparent */
    border: none; /* Remove the button border */
    cursor: pointer; /* Add a pointer cursor on hover */
    padding: 0; /* Remove padding to make the button snug around the image */
    width: 40px;
    height: 40px;
}

.arrowbutton:hover {
    opacity: 0.8; /* Reduce opacity on hover */
}


.footerlogo {
    text-align: center;
    margin-bottom: 3rem;
}

.footerimage {
    max-width: 50%; /* Adjust the percentage to control the image size */
    height: auto;
}