.formtext {
    text-align: center;
    font-style: italic;
    border-radius: 10px;
    outline: 3px solid #041F48;
    font-size: 15px;
    color: #444343;
    opacity: 0.75;
}

.content {
    font-size: 18px;
    margin: auto;
    min-height: 300px;
}

.container {
    background: linear-gradient(0deg, rgba(31, 126, 178, 1) 85%, rgba(255, 255, 255, 1) 60%);
    min-height: auto;
}

.edit-box{
    background-color: white;
    max-width: 280px;
    margin: 50px auto 50px;
    border-radius: 25px;
    padding: 20px;
    min-height: 350px;
}

.svg-button {
    border: none;
    background: none;
    cursor: pointer;
    text-align: end;
    margin-right: -15px;
}

.d-grid {
    margin-top: 60px;
}

/*.svg-image {
    width: 30px; !* Adjust the width of the SVG image *!
    height: 30px; !* Adjust the height of the SVG image *!
}*/

.hidden {
    display: none;
}

@media (min-width: 601px) {
    .container {
        margin-top: 80px;
    }

    .edit-box {
        max-width: 380px;
        vertical-align:middle;

    }
}

@media (max-width: 768px){
    .col-md-auto {
        flex: 0 0 auto;
        width: auto;
    }
}

