body {
    margin: 0;
    padding: 0;
    background-color: #041F48;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    max-width: 320px;
    margin-top: 40px;
    border-radius: 25px;
    padding: 20px;
    width: 100%;
    min-height: auto;
}

.termsbutton{
    background-color: #FFFFFF;
    font-style: italic;
    color: #1F7EB2;
    font-size: 12.5px;
    border: none;
    font-weight: 600;
    width: fit-content;
    padding: 0px;
    margin: 0 5px 0 5px;
}


.title {
    color: #000;
    text-align: center;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 30px;
}

@media (min-width: 601px) {
    .container {
        min-width: 450px;
        margin-top: 80px;
    }
}


.arrowbutton {
    background-color: transparent; /* Set the background to transparent */
    border: none; /* Remove the button border */
    cursor: pointer; /* Add a pointer cursor on hover */
    padding: 0; /* Remove padding to make the button snug around the image */
    width: 40px;
    height: 40px;
}

.arrowbutton:hover {
    opacity: 0.8; /* Reduce opacity on hover */
}


.footerlogo {
    text-align: center;
    margin-bottom: 3rem;
}

.footerimage {
    max-width: 50%; /* Adjust the percentage to control the image size */
    height: auto;
}


#login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.form-label {
    text-align: left;
}

.card {
    border: none; /* Remove the border from the card element */
}

.form-control {
    border: 2px solid #041F48; /* Dark blue border */
}

.formtext {
    text-align: center;
    font-style: italic;
    border-radius: 10px;
    outline: 1.5px solid #041F48;
    font-size: 12px;
    color: #444343;
    opacity: 0.75;
}

#buttonentry {
    margin-bottom: 1rem
}

@media (min-width: 601px) {
    .formtext {
        font-size: 16px;
    }

    #buttonentry {
        margin-bottom: 2rem
    }
}

.container-checkbox {
    accent-color: #041F48;
    font-size: 12.5px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.padb {
    margin-left: 1rem;
    margin-right: 1rem;
}




.custom-alert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.custom-alert-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 50%;
}

.custom-alert h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.custom-alert button {
    padding: 5px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.custom-alert-close {
    cursor: pointer;
}

.custom-alert button:hover {
    background-color: #0056b3;
}

.modal-title{
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 600;
}



