body {
    margin: 0;
    padding: 0;
    background-color: #041F48; /* Dark blue background color */
    font-family: Montserrat, serif;
}

.imagelogo{
    margin-bottom: 3rem;
}

.footerlogo {
    text-align: center;
    margin-top: 20px;
}

.footerimage {
    max-width: 30%;
    height: auto;
}

.arrowbutton  {
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.50);
    border: none;

}









