body {
    margin: 0;
    padding: 0;
    background-color: #041F48; /* Dark blue background color */
    font-family: Montserrat, serif;
}

.imagelogo{
    margin-bottom: 3rem;
}

.footerlogo {
    text-align: center;
    margin-top: 20px;
}

.footerimage {
    max-width: 30%;
    height: auto;
}

.arrowbutton  {
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.50);
    border: none;

}








/**
VIAS_LEAGUE
 */


/*
.vias_league-container {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    text-align: center; !* Center text content horizontally *!
    max-width: 80%; !* Set a maximum width relative to the parent column *!
    margin: 0 auto; !* Center the container horizontally *!
    height: 600px;
    display: flex; !* Use flexbox *!
    flex-direction: column; !* Stack child elements vertically *!
    justify-content: flex-start; !* Align content at the top *!
    align-items: center; !* Center content horizontally *!
}

.vias_league-container {

    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    text-align: left;
    max-width: 80%; !* Set a maximum width relative to the parent column *!
    margin: 0 auto; !* Center the container horizontally *!
    height: 600px;
}
*/



.home-link {
    position: absolute;
    top: 10px; /* Adjust the distance from the top as needed */
    left: 10px; /* Adjust the distance from the left as needed */
    text-decoration: none;
    background-color: #1F7EB2;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.home-link:hover {
    background-color: #041F48;
}

.bottom-half {
    height: 50%; /* Set the height to 50% to cover the bottom half */
    background-color: lightblue; /* Dark blue background color for the bottom half */
}

.container3 {
    text-align: center;
}

.btn-primary-outline {
    background-color: transparent;
}

.vias_league-container {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    text-align: left;
    max-width: 80%; /* Set a maximum width relative to the parent column */
    margin: 0 auto; /* Center the container horizontally */
    height: 600px;
    /*flex-grow: 1;*/
}

