.button-box{
    min-width: 280px;
    margin-top: 20px;
}

.suggestions-content{
    background-color: #041F48;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px 0 0 0; /* Para fazer overlap com a div directamente acima*/
    border-radius: 25px 25px 0 0;
    position: relative;


}

.button{
    width: 90%;
    background-color: #1F7EB2;
    height: 50px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    margin: 10px auto;
    display:flex;
    align-items: baseline;
    text-align: left;

}

.suggestions-box{
    background-color: white;
    min-width: 230px;
    margin: 50px 10px;
    border-radius: 25px;
    padding: 20px;
    height: auto;
    align-content: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.card-box{
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    margin-bottom: 30px;
    vertical-align: center;
}

.card{
    background-color: white;
    margin: 25px 0 0 0;
    border: none;
    border-radius: 15px;
    height: auto;
    min-width: 260px;
    width: auto;
    box-shadow: 0px 0px 2px 1.5px rgba(0, 0, 0, 0.30);
    vertical-align: center;


}
.card-button{
    min-width:255px;
    background-color: #1F7EB2;
    margin: -12px auto;
    height: auto;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-self: center;
    text-align: center;


}
.card-button-text{
    margin-top: 17px;
    font-size: 14px;
}

.arrowbutton{
    position: absolute;
    top:15px;
    left:15px;
    background-color: #ffffff;
}

.icon{
    height:20px;
    width:20px;
    color: #3C4043;
    margin:0;
}

.icon-box{
    display:inline-block;
}

.travel-box{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 15px;
}
.travel-text{
    font-size: 10px;
    font-weight: 500;
    height: fit-content;
    margin: 0 3px 0 0;
    border-radius: 2px;
}

.time-box{
    display: flex;
    font-size: 14px;
    margin: auto 10px auto auto;
}
.time-travel-box{
    display:flex;
    justify-content: space-between;
    align-items: baseline;



}
.start-end-box{
    display: flex;
    align-content: flex-start;
    margin: 15px;
    font-weight: 400;
}
.fare-box{
    display: flex;
    margin: auto 10px auto auto;
}
.fare-style{
    font-size: 12.5px;
    font-weight: 600;
    margin: auto 3px auto auto;
}

@media (max-width: 920px) {
    .suggestions-box{
        min-width: auto;
    }

    .date-hour-box {
        display: revert;
        margin:auto;
        text-align: center;
        align-items: center;
    }
}


.suggestions-content::-webkit-scrollbar {
    display: none; / tira no chrome e restantes browsers*/
}

@media (min-width: 920px) {
    .suggestions-content{
        background-color: #041F48;
        height:100%;
        width: 30%;
        position:absolute;
        align-items: center;
        bottom: 0;
        border-radius: 0;
        overflow: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none; /* tira no ie e edge */
    }

    .suggestions-content::-webkit-scrollbar {
        display: none; /* tira no chrome e restantes browsers*/
    }

    .date-hour-box {
        margin:auto;
        text-align: center;
        align-items: center;
    }

    .arrowbutton{
        visibility: hidden;
    }

}

.alert-danger {
    margin-top: 20px;
    align-items: center;
    max-width: 300px;
}
