.button-box{
    min-width: 280px;
    margin-top: 20px;
}

.suggestions-content{
    background-color: #041F48;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px 0 0 0; /* Para fazer overlap com a div directamente acima*/
    border-radius: 25px 25px 0 0;
    position: relative;
}

.button{
    width: 100%;
    background-color: #1F7EB2;
    height: 50px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    margin: 10px auto;

}

.suggestions-box{
    background-color: white;
    min-width: 230px;
    margin: 50px 10px;
    border-radius: 25px;
    padding: 20px;
    height: auto;
}

.card-box{
    align-content: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin-bottom: 30px;
}

.card{
    background-color: white;
    margin: 25px 20px 0 20px;
    border: none;
    border-radius: 15px;
    min-height: 100px;
    min-width: 250px;
    box-shadow: 0px 0px 2px 1.5px rgba(0, 0, 0, 0.30);

}
.card-button{
    min-width:245px;
    background-color: #1F7EB2;
    margin: -12px auto;
    height: auto;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
}

.arrowbutton{
    position: absolute;
    top:15px;
    left:15px;
    background-color: #ffffff;
}


@media (max-width: 920px) {
    .suggestions-box{
        min-width: auto;
    }

    .date-hour-box {
        display: revert;
        margin:auto;
        text-align: center;
        align-items: center;
    }

}



.suggestions-content::-webkit-scrollbar {
    display: none; / tira no chrome e restantes browsers*/
}

@media (min-width: 920px) {
    .suggestions-content{
        background-color: #041F48;
        height:100%;
        width: 30%;
        position:absolute;
        align-items: center;
        bottom: 0;
        border-radius: 0;
        overflow: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none; / tira no ie e edge /
    }

    .suggestions-content::-webkit-scrollbar {
        display: none; /* tira no chrome e restantes browsers*/
    }

    .date-hour-box {
        margin:auto;
        text-align: center;
        align-items: center;
    }

    .arrowbutton{
        visibility: hidden;
    }


}

#instructions {
    color: black;
    background-color: white;

}