.button-box{
    min-width: 280px;
    margin-top: 20px;

}
.button{
    width: 90%;
    background-color: #1F7EB2;
    height: 50px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    margin: 10px auto;
    display:flex;
    align-items: baseline;
    text-align: left;

}


.icon{
    height:20px;
    width:20px;
    color: #3C4043;
    margin:0;
}

.icon-box{
    display:inline-block;
}

.travel-box{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: baseline;
    margin: 15px 15px 15px 0;
}
.travel-text{
    font-size: 10px;
    font-weight: 500;
    height: fit-content;
    margin: 0 3px 0 0;
    border-radius: 2px;
}

.suggestions-box{
    background-color: white;
    min-width: 250px;
    margin: 50px 20px;
    border-radius: 25px;
    padding: 20px;
    min-height: auto;
}

.time-travel-box{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
}

.detailed-card{
    background-color: white;
    margin: 50px 20px;
    border-bottom: 1px solid #dadce0;
    border-radius: 0;
    padding: 20px;
    width: auto;

}

#suggestions-small-card {
    background-color: white;
    margin: 10px 20px;
    border: none; /* Remove any existing borders */
    border-bottom: 1px solid #dadce0; /* Add the bottom border */
    padding: 20px 20px 30px 20px;
    width: auto;
}

.card {
    border-radius: 0;
}


@media (max-width: 920px) {
    .suggestions-box{
        min-width: auto;
    }


}



.home-content {
    scrollbar-width: none; /* tira no firefox */
    -ms-overflow-style: none; /* tira no ie e edge */
}

.home-content::-webkit-scrollbar {
    display: none; /* tira no chrome e restantes browsers*/
}

.arrowbutton {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
}

@media(min-width: 920px) {
    .arrowbutton {
    }
    .home-content {
        overflow: auto;
    }

}

.button-box-travel {
    display: flex;
    justify-content: center;

}

.button-travel {
    width: auto;
    background-color: #1F7EB2;
    height: 50px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    margin: 10px 12px auto auto;

}

.lineNumber {
    background-color: rgb(237, 25, 68);
    color: white;
    padding-left: 6px;
    padding-right: 6px;
}

.totalDuration {
    display: inline-block;
    color: #70757a
}

.detailed-card-box {
    display: table-row;
}

.eachStepDiv {
    display: flex;
    align-items: center; /* Vertically align content */
}

.left-column {
    flex: 0 0 auto; /* Don't grow or shrink, maintain its size */
    width: 80px; /* Adjust the width as needed */
    text-align: center; /* Center the content horizontally */
}

.right-column {
    flex: 1; /* Grow to fill available space */
    padding-left: 10px; /* Add some spacing between columns */
}

.right-column > div {
    margin-bottom: 5px; /* Add margin between the two lines of text */
}

.firstLine {
    font-weight: 500;
}

.secondLine {
    color: #70757a
}

.yourRoute {
    text-align: center;
    margin-bottom: 2.5rem;
}

/*.walkingbox {
    display: flex;
    justify-content: center;
}*/

p {
    margin-bottom: 0;
}

#map {
    height: 100%;
}


