
.container {
    background: linear-gradient(0deg, rgba(31, 126, 178, 1) 80%, rgba(255, 255, 255, 1) 60%);
    min-height: auto;
    justify-content: center;
    align-items: center;
    max-width: 320px;
    margin-top: 40px;
    border-radius: 25px;
    padding: 20px;
    width: 100%;
}

.div-button{
    max-width: 320px;
    text-align: center;
}

.validate-box {
    background-color: white;
    max-width: 280px;
    margin-top: 20px;
    border-radius: 25px;
    padding: 20px;
    min-height: 300px;
}

.validate-button{
    color: #FFFFFF;
    background-color: #1F7EB2;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    height: 65px;
}
.validate-button:active{
    background-color: #004A89;
    border: #004A89;
}

@media (min-width: 601px) {
    .container {
        min-width: 350px;
        margin-top: 80px;
    }
    .validate-box {
        min-width: 250px;
        margin-top: 20px;
    }
}

@media (max-width: 768px){
    .col-md-auto {
        flex: 0 0 auto;
        width: auto;
    }
}