body {
    margin: 0;
    padding: 0;
    background-color: #041F48; /* Dark blue background color */
    min-height: 100vh;
    font-family: Montserrat, serif;
}


.btn-primary-outline {
    background-color: transparent;
}

.btn-primary-outline:hover {
    color: white;
    background-color: #004A89;
}

.vias_league-container {
    background: linear-gradient(0deg, rgba(31,126,178,1) 75%, rgba(255,255,255,1) 75%);
    border-radius: 20px;
    padding: 20px;
    text-align: left;
    max-width: 80%; /* Set a maximum width relative to the parent column */
    margin: 0 auto; /* Center the container horizontally */
    height: 650px;
    /*flex-grow: 1;*/
}

.footerlogo {
    text-align: center;
    margin-top: 20px;
}

.footerimage {
    max-width: 30%;
    height: auto;
}

.buttons {
    margin-bottom: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    background-color: #1F7EB2;
}

.buttons:hover {
    background-color: #041F48;
}


/*.list-container {
    background-color: #ffffff; !* Set the background color for the container *!
    border-radius: 20px; !* Add border-radius for styling *!
    padding: 30px; !* Add padding for spacing inside the container *!
    text-align: left; !* Adjust text alignment as needed *!
    max-width: 100%; !* Set the maximum width to match the previous container *!
    margin: 0 auto; !* Center the container horizontally *!
    height: 382px;
    width: 361px;

}*/
.list-container {
    background-color: #ffffff; /* Set the background color for the container */
    border-radius: 20px 20px 0 0; /* Apply border radius only to the top */
    padding: 20px; /* Add padding for spacing inside the container */
    text-align: left; /* Adjust text alignment as needed */
    max-width: 100%; /* Set the maximum width to match the previous container */
    margin: 0 auto; /* Center the container horizontally */
    height: 421px;
    width: 361px;
}


.center-img {
    display: block;
    margin: 0 auto;
}

.btn.btn-primary-outline {
    color: white;
}

img {
    max-width: 100%; /* Set the maximum width to 100% of its container */
    height: auto; /* Allow the height to adjust proportionally */
}

#liga {
    text-align: center;
    margin-top: 15px;
}

.table-container {
    max-width: 100%; /* Set a maximum width for the container */
    overflow-x: auto; /* Allow horizontal scrolling if the content overflows */
    max-height: 281px; /* Set a maximum height for the container */
    overflow-y: auto; /* Allow vertical scrolling if the content exceeds the container's height */

}

.table {
    width: 100%; /* Make the table take up the full width of its container */
    /*border-collapse: collapse; !* Collapse the table borders *!*/
}


/* Target table headers and table data cells */
.table th,
.table td {
    font-size: 10px; /* Set the desired smaller font size */
    border: none; /* Remove borders from table cells */
    vertical-align: middle; /* Center vertically */
    padding: 10px; /* Add padding to adjust spacing as needed */
    line-height: 1.2; /* Adjust line height for vertical centering */
}

/* You can also target specific columns if needed */
/* .table th:nth-child(1), .table td:nth-child(1) {
    font-size: 14px;
} */


/*.table-container::-webkit-scrollbar {
    width: 5px; !* Adjust the width as needed *!
}

.table-container::-webkit-scrollbar-track {
    background-color: transparent; !* Set to the background color of your choice *!
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #888; !* Set to the color of your choice *!
    border-radius: 2.5px; !* Set to half of the scrollbar width for a rounded appearance *!
}*/

.table-container {
    scrollbar-width: none; /* tira no firefox */
    -ms-overflow-style: none; /* tira no ie e edge */
}

.table-container::-webkit-scrollbar {
    display: none; /* tira no chrome e restantes browsers*/
}

.circle {
    width: 27px; /* Adjust the size of the circle */
    height: 27px; /* Adjust the size of the circle */
    border-radius: 50%; /* Make it a circle by setting border-radius to 50% */
    overflow: hidden; /* Hide the parts of the image outside the circle */
}

.circle img {
    width: 100%; /* Make the image fill the circle */
    height: 100%; /* Make the image fill the circle */
    object-fit: cover; /* Ensure the image covers the entire circle */
}



.arrowbutton {
    background-color: transparent; /* Set the background to transparent */
    border: none; /* Remove the button border */
    cursor: pointer; /* Add a pointer cursor on hover */
    padding: 0; /* Remove padding to make the button snug around the image */
    width: 30px;
}

.arrowbutton:hover {
    opacity: 0.8; /* Reduce opacity on hover */
}

.switches-container {
    width: 16rem;
    position: relative;
    display: flex;
    padding: 0;
    background: #1F7EB2;
    line-height: 3rem;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
}

/* input (radio) for toggling. hidden - use labels for clicking on */
.switches-container input {
    visibility: hidden;
    position: absolute;
    top: 0;
}

/* labels for the input (radio) boxes - something to click on */
.switches-container label {
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
    color: white;

}


/* switch highlighters wrapper (sliding left / right)
    - need wrapper to enable the even margins around the highlight box
*/
.switch-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    /*padding: 0.15rem;*/
    z-index: 3;
    transition: transform .5s cubic-bezier(.77, 0, .175, 1);

    /* transition: transform 1s; */
}

/* switch box highlighter */
.switch {
    border-radius: 10px;
    background: #004A89;
    height: 100%;

}


.switch div {
    width: 100%;
    text-align: center;
    opacity: 0;
    display: block;
    color: white ;
    transition: opacity .2s cubic-bezier(.77, 0, .175, 1) .125s;
    will-change: opacity;
    position: absolute;
    top: 0;
    left: 0;
}

/* slide the switch box from right to left */
.switches-container input:nth-of-type(1):checked~.switch-wrapper {
    transform: translateX(0%);
}

/* slide the switch box from left to right */
.switches-container input:nth-of-type(2):checked~.switch-wrapper {
    transform: translateX(100%);
}

/* toggle the switch box labels - first checkbox:checked - show first switch div */
.switches-container input:nth-of-type(1):checked~.switch-wrapper .switch div:nth-of-type(1) {
    opacity: 1;
}

/* toggle the switch box labels - second checkbox:checked - show second switch div */
.switches-container input:nth-of-type(2):checked~.switch-wrapper .switch div:nth-of-type(2) {
    opacity: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;

}

.centered-content {
    display: flex;
    align-items: center; /* Center items vertically */
}

.centered-content img {
    /*margin-right: 2px;*/ /* Add some spacing between the image and text */
    height: 18px;
}

/**
Estilos Pontos Tabela
 */

.points {
    text-align: center; /* Center the content horizontally */
}

.points-number {
    font-size: 18px; /* Adjust the font size for the number */
    font-weight: bold; /* Make the number bold */
}

.points-text {
    font-size: 10px; /* Adjust the font size for the "points" text */
    color: gray; /* Change the color of the text */
}






