
.container {
    /*background: linear-gradient(0deg, rgba(31, 126, 178, 1) 77%, rgba(255, 255, 255, 1) 60%);*/
    background: #1F7EB2;
    min-height: auto;
}

.white-container {
    background: white;
    margin: -20px;
    border-radius: 25px 25px 0 0;
    position: relative;
}

.arrowbutton {
    position: relative;
    top: 20px;
    left : 20px;
}

.list-container {
    background-color: #ffffff;
    border-radius: 20px 20px 5px 5px;
    text-align: left;
    max-width: 100%;
    height: auto;
    width: auto;
    margin: 15px auto -20px;
    padding: 20px 20px 0;
    display: flex;
    flex-direction: column;
}


.list-container > div:not(:last-child) {
    margin-bottom: 30px;
}

.table-container {
    max-width: 100%; /* Set a maximum width for the container */
    overflow-x: auto; /* Allow horizontal scrolling if the content overflows */
    min-height: 200px;
    max-height: 279px; /* Set a maximum height for the container */
    overflow-y: auto; /* Allow vertical scrolling if the content exceeds the container's height */
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-bottom: 1px;
}

.center-img {
    display: block;
    margin: 0 auto;
}

.btn.btn-primary-outline {
    color: white;
}

img {
    max-width: 100%; /* Set the maximum width to 100% of its container */
    height: auto; /* Allow the height to adjust proportionally */
}

#liga {
    text-align: center;
    margin-top: 15px;
}


.table {
    width: 100%; /* Make the table take up the full width of its container */
}


.table th,
.table td {
    font-size: 10px; /* Set the desired smaller font size */
    border: none; /* Remove borders from table cells */
    vertical-align: middle; /* Center vertically */
    padding: 10px; /* Add padding to adjust spacing as needed */
    line-height: 1.2; /* Adjust line height for vertical centering */
}


.table-container::-webkit-scrollbar {
    display: none; /* tira no chrome e restantes browsers*/
}

.circle {
    width: 31px;
    height: 31px; /* Adjust the size of the circle */
    border-radius: 50%; /* Make it a circle by setting border-radius to 50% */
    overflow: hidden; /* Hide the parts of the image outside the circle */
}

.circle img {
    width: 100%; /* Make the image fill the circle */
    height: 100%; /* Make the image fill the circle */
    object-fit: cover; /* Ensure the image covers the entire circle */
}

.centered-content {
    display: flex;
    align-items: center;
}

.centered-content img {
    height: 18px;
}

.points {
    text-align: center;
}

.points-number {
    font-size: 18px;
    font-weight: bold;
}

.points-text {
    font-size: 10px; /* Adjust the font size for the "points" text */
    color: gray; /* Change the color of the text */
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh; /* This makes the container cover the entire viewport height */
    margin-top: 20px;
}

.list-button {
    background-color: #1F7EB2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px; /* Add margin for spacing between buttons */
}

.active-button {
    background-color: #004A89; /* Change to your desired color */

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); /* Add shadow */

}

button:hover {
    background-color: white;
}

.biggerFont {
    font-size: 17px;
}

.leaderboard {
    text-align: center;
    margin-top: 15px;
}

#coolUsername {
    color: #004A89;
}

#num1, #num2, #username1, #username2 {
    font-size: 15px;
}



.highlighted-row {
    background-color: blue;
    color: white;
    font-weight: bold;
    border: 2px solid #1F7EB2;
    z-index: 5;
    border-radius: 30px !important;

}

.table td {
    box-sizing: border-box;
}

.font-buttons:hover {
    background-color: #004A89;
}

.list-button:hover {
    background-color: #004A89;
}

.buttons-container {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

/* Style the form */
#filterForm {
    display: inline-block;
    background-color: #1F7EB2;
    padding: 10px;
    border-radius: 5px;
}

/* Style the label */
label {
    font-weight: bold;
}

/* Style the select dropdown */
select {
    padding: 5px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}


/* Style the submit button */
input[type="submit"] {
    padding: 5px 10px;
    background-color: #004A89; /* Blue color for the button */
    color: #fff; /* Text color for the button */
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


select option:checked {
    background-color: #337ab7; /* Set the background color of the selected option */
    color: #fff; /* Set the text color of the selected option */
}

select option:hover {
    background-color: #ccc; /* Change the background color on hover */
    color: #333; /* Change the text color on hover */
    cursor: pointer; /* Add a pointer cursor on hover */
}

#opcao {
    margin-top: -30px;
    margin-bottom: 10px;
    color: white;
}


.countdown-container {
    display: flex;
}

.countdown-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.clock {
    margin-top: 40px;
    margin-bottom: 15px;
}

.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Add this to center text within countdown-circle */
}

.countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Add this to center text within countdown-circle */
    font-size: 12px;
}

.countdown-circle {
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    border-radius: 20%; /* Make it a circle */
    border: 1px solid #337ab7; /* Add a blue border */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #000;
    margin: 5px;
    background-color: transparent;
}

#days, #hours, #minutes, #seconds {
    font-size: 14px;
}

.countdown-label {
    font-size: 10px;
}

.container-liga {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.left {
    order: 1;
    text-align: center;
    margin-top: 15px;
    margin-left: 40px;

}

.right {
    text-align: center;
    order: 2;
    width: 200px;
    margin-bottom:-8px ;
}

#num1 {
    text-align: center;
    font-size: 12px;

}

#silver_small, #bronze_small {
    padding-left: 2px;
}


.liga {
    margin-top: 5px;
}

.container-update {
    margin-top: 45px;
    margin-bottom: -32px;
    margin-left: -20px;
}

.container-update span,
.container-update img {
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
    margin-right: 10px; /* Adjust the margin as needed */
}

#countdown {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    border-radius: 5px;
    max-width: 300px;
}

#countdown span {
    font-size: 12px;
    font-weight: normal;
}

/* Uso Futuro? */
#countdown.expired {
}

.buttons-container {
    position: relative; /* Set to relative positioning for child absolute positioning */
}



.icon-button {
    width: 60px; /* Adjust as needed */
    height: 45px; /* Adjust as needed */
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right : 15px;
}

table #gold_small {
    width: 45px;
}

table .circle {
    width: 30px;
    height: 30px;
}

#running_man_clock {
    display: flex;
    align-items: center; /* Vertically center the images */
    justify-content: center;
}

#running_man_clock img {
    margin: 0;
    padding: 0;
}

#running_man_clock .clock {
    position: relative;
    top: -25px;
    left: 20px;
}

@media (max-width: 768px) {
    .container {
        background: linear-gradient(0deg, rgba(31, 126, 178, 1) 76.5%, rgba(255, 255, 255, 1) 60%);
    }

    select {
        font-size: 14px; /* Further adjust font size for smaller screens */
        padding: 3px; /* Further adjust padding for smaller screens */
    }

    input[type="submit"] {
        font-size: 14px;
    }

    .table-container {
        max-height: 237px;
    }

    .table td {
        font-size: 10px;
        padding: 5px;
    }

    .table th {
        font-size: 10px;
    }

    #filter {
        width: 100%;
        font-size: 16px;
        padding: 10px;
    }

    .select-box {
        /* Adjust styles for mobile here */
        border: 1px solid #ccc;
        padding: 10px;
        cursor: pointer;
        width: 100%;
    }

    .dropdown-options {
        /* Adjust styles for mobile here */
        display: none;
        position: absolute;
        background-color: #fff;
        border: 1px solid #ccc;
        width: 100%;
        max-height: 150px; /* Add max height for scrolling if needed */
        overflow-y: auto;
    }

    #countdown {
        margin-left: 12px;
    }

    /* Reduce the margin between buttons for smaller screens */
    .list-button {
        margin: 0 5px; /* Adjust the horizontal margin to make them closer */
    }

    .font-buttons {
        font-size: 10px;
    }

    .left {
        margin-left: 10px;
    }

    .left .image_badge {
        width: 40px;
    }

    .left .liga {
        font-size: 12px;
    }

    .right {
        margin-top: -15px;
    }

    .countdown-item {
        width: 35px;
    }

    .container-update {
        margin-top: 25px;
    }


    .buttons-container {
        margin-top: 80px;
    }
    #filterForm {
        margin-top: 70px;
    }

    .list-container {
        margin-top: 60px;
    }

    .points-number {
        font-size: 12px;
    }

    .points-text {
        font-size: 10px;
    }

    #num1 #gold_small{
        width: 66px;
    }

    .table-container {
        width: 700px;
    }
    .table #num1 {
        width: 500px;
    }

    .icon-button {
        top: 15px;
        right : 3px;
        width: 55px;
        height: 40px;
    }
}




