.welcome-page {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #041F48;
}

.welcome-container h1 {
    color: white;
}

.welcome-container {
    text-align: center;
    opacity: 0; /* Initial opacity set to 0 */
    animation: fadeIn 6s ease forwards; /* Apply fade-in animation */
}

.welcome-heading {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.welcome-image {
    width: 500px;
    height: auto;
    /*border: 3px solid #041F48; !* Add a border for elegance *!
    border-radius: 50px 50px 50px 50px / 50px 50px 50px 50px; !* Create circular borders only on the top and bottom *!
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); !* Add a subtle shadow *!*/
    transition: opacity 0.5s ease; /* Hover effect */
    cursor: pointer; /* tipo de cursor */
}

/*.welcome-image:hover {
    opacity: 0.9; !* Slightly reduce opacity on hover *!
}*/

@keyframes fadeIn {
    from {
        opacity: 0; /* Começa opacidade 0 */
    }
    to {
        opacity: 6; /* Fades in to opacity 3 */
    }
}
